<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF5733;
}

li {
    float: left;
}

li a {
    display: block;
    color: #581845;
    text-align: center;
    padding: 28px 30px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #FFC300;
}

.active {
    background-color: #C70039;  
</style>
</head>
<body>

<ul style="font-size: 60px">
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#about">About</a></li>
  <li><a href="#contact">Contact</a></li>
  
</ul>

</body>
</html>